@tailwind base;
@tailwind components;
@tailwind utilities;

.scroller {
    overflow: auto;
    height: 100px;
    display: flex;
    flex-direction: column-reverse;
}

.scroller .scroller-content .item {
    height: 20px;
    transform: translateZ(0);
    /* fixes a bug in Safari iOS where the scroller doesn't update */
}
